@charset "UTF-8";

/*=========================================================
  Reset
=========================================================*/
html {font-size:1em;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; border:0;font-size:100%; vertical-align:baseline; -o-box-sizing:border-box; -ms-box-sizing:border-box;}

input[type="text"],input[type="email"],input[type="number"],button,input[type="submit"],input[type="reset"],button,input[type="tel"],button,input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none; font-size:100%;-webkit-appearance:none ; appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-border-radius:0; -moz-border-radius:0; -o-box-sizing:border-box;}
body {position:relative; background:#fff; font-size:14px; line-height:1.7; color:#555555;word-wrap:break-word; word-break:keep-all; text-size-adjust:none; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;font-weight:400;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
input:focus,button:focus {border:none;}
table {border-spacing:0;border-collapse:collapse;}
ul,ol,li {margin:0; padding:0;}
li {list-style:none;}
a:focus {outline:none !important;}
a {text-decoration:none;}
:invalid {box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px;padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px;padding:0; border:0;}
img {max-width:100%;}
button:hover {cursor:pointer;}
button {background:transparent;}
textarea:focus {outline:none;}
:focus {outline:none;}
html {overflow-y:scroll;-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
input[type=text]::-ms-clear {display:none;}
input[type=email]::-ms-clear {display:none;}
input[type=number]::-ms-clear {display:none;}
sup{font-size:0.75em;vertical-align: top;}
sub{font-size:0.75em;vertical-align: bottom;}
select{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none;font-size:100%;-webkit-appearance:none ; appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-border-radius:0; -moz-border-radius:0; -o-box-sizing:border-box;}
select::-ms-expand {display: none;}
::-webkit-file-upload-button { cursor:pointer; }
.ab-text{
	overflow: hidden; 
	display:block; 
	position:absolute; 
	border: 0; 
	width: 1px; 
	height: 1px;
}


.Ver-middle{
	vertical-align:middle !important;
}

/* wordpress reset
=========================================================*/
@media screen and (max-width: 600px) {
  #wpadminbar {position:fixed !important; top:0; left:0;z-index:100000;}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button{
		min-height:1px;
	}
	
	div.swiper-scrollbar{
		min-height:0px;
	}
}

/*=========================================================
  Layout
=========================================================*/

.site {
	display: flex;
	-ms-display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  height: 100vh;
}


.site-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  flex-shrink: 0;
}

@media screen and  (min-width: 783px) {
  .admin-bar .site-header{
	top:32px;
  }
}
@media screen and (max-width: 782px) {
  .admin-bar .site-header{
	top:46px;
  }
}

@media screen and  (max-width: 1024px) {
	.admin-bar .site-header{
		top:0 !important;
	  }
}

.site-content {
	flex: 1 0 auto;
	-ms-flex: 1 0 auto;
}

.header-container{
  max-width: 1900px;
  margin:0 auto;
  position: relative;
  padding:0 40px;
  z-index:50;
}

.header-container:after{
  content: "";
  display: table;
  clear: both;
}

.site-container{
	max-width: 1280px;
	margin:0 auto;
	position: relative;
	padding:0 40px;
}

.content-area{
	overflow:hidden;
	padding-bottom:30px;
}

.site-container:after{
	content: "";
	display: table;
	clear: both;
}

.footer-container{
  max-width: 1280px;
  margin:0 auto;
  position: relative;
  padding:0 40px;
}

.footer-container:after{
  content: "";
  display: table;
  clear: both;
}

.site-footer{
	flex-shrink: 0;
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
	.header-container{
		max-width: 100%;
		padding:0 20px;
	}
	.site-container{
		max-width: 100%;
		padding:0 20px;
	}
	.footer-container{
		max-width: 100%;
		padding:0 20px;
	}
}

@media screen and (max-width: 639px) and (min-width: 1px) {
	.header-container{
		max-width: 100%;
		padding:0 20px;
	}
	.site-container{
		max-width: 100%;
		padding:0 20px;
	}
	.footer-container{
		max-width: 100%;
		padding:0 20px;
	}
}


/*=========================================================
  Swiper Basic CSS
=========================================================*/
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform: translate3d(0px, 0, 0);
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-fade .swiper-slide{
    transition-property: opacity;
}

.swiper-button-disabled {
  opacity: 0.15 !important;
  cursor: auto;
  pointer-events: none;
}

.is-slide_disable .swiper-button-prev {
  display: none;
}

.is-slide_disable .swiper-button-next {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 1px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #000;
  border-radius: 10px;
  left: -1px;
  top: 0;
  width: 3px;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-button-lock {
  display: none;
}

/*=========================================================
  3. 여백
=========================================================*/
/*top*/
body .mt0{margin-top:0;}
body .mt5{margin-top:5px;}
body .mt10{margin-top:10px;}
body .mt15{margin-top:15px;}
body .mt20{margin-top:20px;}
body .mt25{margin-top:25px;}
body .mt30{margin-top:30px;}
body .mt35{margin-top:35px;}
body .mt40{margin-top:40px;}
body .mt45{margin-top:45px;}
body .mt50{margin-top:50px;}
body .mt55{margin-top:55px;}
body .mt60{margin-top:60px;}

/*bottom*/
body .mb0{margin-bottom:0;}
body .mb5{margin-bottom:5px;}
body .mb10{margin-bottom:10px;}
body .mb15{margin-bottom:15px;}
body .mb20{margin-bottom:20px;}
body .mb25{margin-bottom:25px;}
body .mb30{margin-bottom:30px;}
body .mb35{margin-bottom:35px;}
body .mb40{margin-bottom:40px;}
body .mb45{margin-bottom:45px;}
body .mb50{margin-bottom:50px;}
body .mb55{margin-bottom:55px;}
body .mb60{margin-bottom:60px;}
body .mb100{margin-bottom:100px;}

/*responsive*/
@media screen and (max-width: 1440px) and (min-width: 1025px){
  /*top*/
  body .mt0{margin-top:0;}
  body .mt5{margin-top:5px;}
  body .mt10{margin-top:10px;}
  body .mt15{margin-top:15px;}
  body .mt20{margin-top:20px;}
  body .mt25{margin-top:25px;}
  body .mt30{margin-top:25px;}
  body .mt35{margin-top:30px;}
  body .mt40{margin-top:35px;}
  body .mt45{margin-top:40px;}
  body .mt50{margin-top:40px;}
  body .mt55{margin-top:40px;}
  body .mt60{margin-top:40px;}

  /*bottom*/
  body .mb0{margin-bottom:0;}
  body .mb5{margin-bottom:5px;}
  body .mb10{margin-bottom:10px;}
  body .mb15{margin-bottom:15px;}
  body .mb20{margin-bottom:20px;}
  body .mb25{margin-bottom:25px;}
  body .mb30{margin-bottom:25px;}
  body .mb35{margin-bottom:30px;}
  body .mb40{margin-bottom:35px;}
  body .mb45{margin-bottom:40px;}
  body .mb50{margin-bottom:40px;}
  body .mb55{margin-bottom:40px;}
  body .mb60{margin-bottom:40px;}
  body .mb100{margin-bottom:50px;}
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  /*top*/
  body .mt0{margin-top:0;}
  body .mt5{margin-top:5px;}
  body .mt10{margin-top:10px;}
  body .mt15{margin-top:15px;}
  body .mt20{margin-top:20px;}
  body .mt25{margin-top:25px;}
  body .mt30{margin-top:25px;}
  body .mt35{margin-top:30px;}
  body .mt40{margin-top:35px;}
  body .mt45{margin-top:40px;}
  body .mt50{margin-top:40px;}
  body .mt55{margin-top:40px;}
  body .mt60{margin-top:40px;}

  /*bottom*/
  body .mb0{margin-bottom:0;}
  body .mb5{margin-bottom:5px;}
  body .mb10{margin-bottom:10px;}
  body .mb15{margin-bottom:15px;}
  body .mb20{margin-bottom:20px;}
  body .mb25{margin-bottom:25px;}
  body .mb30{margin-bottom:25px;}
  body .mb35{margin-bottom:30px;}
  body .mb40{margin-bottom:35px;}
  body .mb45{margin-bottom:40px;}
  body .mb50{margin-bottom:40px;}
  body .mb55{margin-bottom:40px;}
  body .mb60{margin-bottom:40px;}
  body .mb100{margin-bottom:50px;}
}

@media screen and (max-width: 767px) and (min-width: 1px){
  /*top*/
  body .mt0{margin-top:0;}
  body .mt5{margin-top:5px;}
  body .mt10{margin-top:10px;}
  body .mt15{margin-top:15px;}
  body .mt20{margin-top:20px;}
  body .mt25{margin-top:25px;}
  body .mt30{margin-top:25px;}
  body .mt35{margin-top:30px;}
  body .mt40{margin-top:35px;}
  body .mt45{margin-top:40px;}
  body .mt50{margin-top:40px;}
  body .mt55{margin-top:40px;}
  body .mt60{margin-top:50px;}

  /*bottom*/
  body .mb0{margin-bottom:0;}
  body .mb5{margin-bottom:5px;}
  body .mb10{margin-bottom:10px;}
  body .mb15{margin-bottom:15px;}
  body .mb20{margin-bottom:20px;}
  body .mb25{margin-bottom:25px;}
  body .mb30{margin-bottom:25px;}
  body .mb35{margin-bottom:30px;}
  body .mb40{margin-bottom:35px;}
  body .mb45{margin-bottom:40px;}
  body .mb50{margin-bottom:40px;}
  body .mb55{margin-bottom:40px;}
  body .mb60{margin-bottom:40px;}
  body .mb100{margin-bottom:50px;}
}

/* ============================================================
   animation css
==============================================================*/
body:not(.elementor-editor-active) .a-Opacity{
	opacity:0;
	transition-property: opacity;
    transition-duration: 1.6s;
	transition-timing-function:ease-out;
}

body:not(.elementor-editor-active) .a-Opacity.is-Opacity{
	opacity:1;
}

body:not(.elementor-editor-active) .a-OpacityTop{
	transition-property: transform, opacity;
    transition-duration: 0.8s;
	transition-timing-function:ease-out;
	opacity:0;
	transform:translateY(100px);
}

body:not(.elementor-editor-active) .a-OpacityTop.is-OpacityTop{
	opacity:1;
	transform:translateY(0);
}

body:not(.elementor-editor-active) .a-delay1{
	transition-delay:0.1s;
}

body:not(.elementor-editor-active) .a-delay2{
	transition-delay:0.2s;
}

body:not(.elementor-editor-active) .a-delay3{
	transition-delay:0.3s;
}

body:not(.elementor-editor-active) .a-delay4{
	transition-delay:0.4s;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	body:not(.elementor-editor-active) .a-OpacityTop{
		transform:translateY(100px) !important;
	}
	
	body:not(.elementor-editor-active) .a-OpacityTop.is-OpacityTop{
		transform:translateY(0) !important;
	}
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
	body:not(.elementor-editor-active) .a-OpacityTop{
		transform:translateY(10.526vw);
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	body:not(.elementor-editor-active) .a-OpacityTop{
		transform:translateY(10.526vw);
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	body:not(.elementor-editor-active) .a-OpacityTop{
		transform:translateY(10.526vw);
	}
}

/*=========================================================
  4. 텍스트 css
=========================================================*/
.text-center{
	text-align:center !important;
}
.text-middle{
	vertical-align:middle !important;
}
.text-orange{
	color:#F37321 !important;
}
.hwFont{
	font-family:'Hanwha' !important;
	display: inline-block;
    transform: translateY(-0.07em);
}
/*=========================================================
  5. 테이블
=========================================================*/
table caption{
	display:none;
}
.noborder{
	border:none !important;
}
.border-left{
	border-left:1px solid #D1D1D1;
}

/*=========================================================
  5. 너비값
=========================================================*/
.w50{
	width:50% !important;
}
.mw150{
	min-width:150px !important;
}

